.activityWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortingActivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.unsorted {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: min-content;
  min-height: 9vw;
  border: 2px solid #f00;
}

img {
  margin: 1%;
  width: 9%;
  height: 9%;
}

.sorted {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  height: min-content;
  min-height: 9vw;
  border: 2px solid #00f;
}
