.IsotopeSortingWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.sortingActivity {
  margin: 1%;
  border: 2px solid #000000;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-height: 0.5fr;
  z-index: 1;
  background: rgba(131, 131, 131, 0.25);
}

.unsorted {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  height: min-content;
  min-height: 9svw;
  border: 2px solid #500000;
  background: rgba(131, 131, 131, 0.25);
  backdrop-filter: saturate(90%) blur(1px);
}

.sorted {
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  height: min-content;
  min-height: 9svw;
  border: 2px solid #000044;
  background: rgba(131, 131, 131, 0.25);
  backdrop-filter: saturate(90%) blur(1px);
}

img {
  width: 9%;
  margin: 0.5%;
  border-radius: 2.5%;
  background-color: rgba(126, 126, 126, 0.5);
  box-shadow: rgba(0, 0, 0, 0.99) 0em 0.0625em 0.125em, rgba(0, 0, 0, 0.99) -.125em -0.125em 0.075em 0.2em inset;
}

.resetButton {
  margin: 0.25em;
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 5%;
  border-width: 0;
  box-shadow: #a1a1a1 0 -0.1em 0 inset;
  box-sizing: border-box;
  color: #000000;
  font-family: "JetBrains Mono",monospace;
  cursor: pointer;
  display: inline-flex;
  height: 1.5em;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: transform;
  font-size: 1em;
}

.resetButton:hover {
  transform: translateY(-5%);
}

.resetButton:active {
  transform: translateY(2.5%);
}

.isSorted {
  font-family: "JetBrains Mono",monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #fff;
}
