
* {
  box-sizing: border-box;
}

html, body, #root {
  background-color: #000000;
  margin: 0;
  height: 100%;
  font-family:monospace
}

.container {
  height: 95%;
  margin: 0;
  text-align: center;
}

.canvaswrapper {
  height: 100%;
  background-color: #00091d;
}

.controls {
  background-color: #4e5272;
  height: 5.2%;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1%;
  z-index: 1;
}
.controlpanel {
  background-color: #9ea8ff;
  display: flex;
  align-items: center;
}

.checkbox-list {
  background-color: #181922;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items:flex-start;
  overflow: visible;
}
