
* {
  box-sizing: border-box;
}

html, body, #root {
  background-color: #000000;
  margin: 0;
  height: 100%;
  font-family:monospace
}

.container {
  height: 95%;
  margin: 0;
  text-align: center;
}

.canvaswrapper {
  height: 100%;
  background-color: #00091d;
}