/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: thin;
scrollbar-color: #808080 transparent;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 1px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
background-color: #808080;
border-radius: 10px;
}

.Activity{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.SortingActivity {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    overflow-x: auto;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 95%;
    z-index: 1;
    background: rgba(218, 218, 218, 0.25);
    backdrop-filter: saturate(90%) blur(1px);
    transition: all 1s;
}
.SortingActivity.hidden {
    opacity: 0;
    z-index: 0;
    transform: translateY(-200%);
}

.Tile {
    min-height: 20vh;
    min-width: 20vh;
    display: grid;
    cursor: move;
    border-radius: 2.5%;
    transition: all 1s;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Tile.dragging {
    opacity: 0.25;
}

.Tile * {
    font-size: 1.75rem;
    font-weight: bold;
    font-family:"JetBrains Mono",monospace;
}

.lbl {
    font-size: 3rem;
    display: flex;
    align-self: center;
    justify-self: center;
}

.num {
    display: flex;
    align-self: flex-end;
    justify-self: left;
}
.mass {
    display: flex;
    align-self: flex-start;
    justify-self: center;
}

/* .Tile img {
    height: 20vh;
    width: 20vh;
    border-radius: 2.5%;
    z-index: -1;
} */