.Activity{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.SortingActivity {
    margin: 1rem;
    padding: 1rem;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    overflow-x: auto;
    gap: 1rem;
    width: 100%;
    z-index: 1;
    background: rgba(218, 218, 218, 0.25);
    backdrop-filter: saturate(90%) blur(1px);
    transition: all 1s;
}

.SortingActivity.hidden {
    opacity: 0;
    z-index: 0;
    transform: translateY(-200%);
}

.Tile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    border-radius: 2.5%;
    transition: all 1s;
}

.Tile.dragging {
    opacity: 0.25;
}

.Tile img {
    height: 20vh;
    width: 20vh;
    border-radius: 2.5%;
    z-index: -1;
}